body{
  background-image: url("https://wallpaperfm.com/img/original/f/9/e/59135.jpg");
  background-color: aquamarine;
}

.App {
  text-align: center;
  
  align-items: center;
  
}

.App-title {
  font-size: 1.5em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}


.add {
  padding: 20px;
  /*background-color: aquamarine;*/
  border-radius: 5px;
  border-width: 2px;
  background: rgba(240, 255, 255, 0.7);
}

.title {
  align-items: left;
}

.todos {
  padding: 20px;
  font-size: large;
  color: white;
}

.todos-left {
  color: white;
}

.buttons {
  padding: 5px;
  display: inline-block;
  padding: 5px;
}

.todo-name {
  display: inline-flex;
  padding: 3px;
}

.todo-date {
  font-size: small;
}

.cal {
  background-color: azure;
  display: flex;
  align-items: center;
  height: 420px;
  width: 420px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  
}