.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.visible {
  background-color: #f2f2f2;
}

.add {
  padding: 20px;
  background-color: aquamarine;
}

.todos {
  padding: 20px;
  font-size: large;
}

.buttons {
  padding: 5px;
}

.todo-name {
  display: inline-flex;
  padding: 3px;
}

.todo-date {
  font-size: small;
}